In [1]:
import dhlab.module_update as mu
mu.update('dhlab_v2')

In [2]:
import dhlab_v2 as d2
import pandas as pd

In [11]:
corpus = d2.get_document_corpus(doctype = 'digibok', ddk = "805", limit = 2000)

In [12]:
corpus

,urn,title,authors,oaiid,sesamid,isbn10,city,timestamp,year,publisher,langs,subjects,ddc,genres,literaryform,doctype
0,URN:NBN:no-nb_digibok_2018041748041,Bagasje,"Rønnestad, Trude",oai:nb.bibsys.no:991501220124702202,0e1202766613c7e37313c37a812feb00,,Oslo,2015,2015,Gyldendal,nob,antologiar / antologier / norsk / litteratur,805,,Uklassifisert,digibok
1,URN:NBN:no-nb_digibok_2012070408187,Fesjå,"Sandemose, Aksel",oai:nb.bibsys.no:998730339654702202,78a55f860901beafa4574794bdc0853a,8203153402,Oslo,1986,1986,Aschehoug,nob,,805,,Faglitteratur,digibok
2,URN:NBN:no-nb_digibok_2018062807128,Arbeid,"Rønnestad, Trude / Sveen, Karin",oai:nb.bibsys.no:991334820144702202,71646eed92c01f9a7b1919256c040c25,,Oslo,2014,2014,Gyldendal,nob,noveller / antologier / antologiar / norsk / l...,805,,Uklassifisert,digibok

In [3]:
freqs = d2.get_document_frequencies(list(corpus.urn))

In [4]:
freqs

,URN:NBN:no-nb_digibok_2014070907108,URN:NBN:no-nb_digibok_2014082908063,URN:NBN:no-nb_digibok_2010031903022,URN:NBN:no-nb_digibok_2012110706100,URN:NBN:no-nb_digibok_2011010708017,URN:NBN:no-nb_digibok_2009112704103,URN:NBN:no-nb_digibok_2009111700027,URN:NBN:no-nb_digibok_2007071001024,URN:NBN:no-nb_digibok_2007051101018,URN:NBN:no-nb_digibok_2012011208015
.,3056.0,1012.0,3362.0,415.0,1004.0,2415.0,206.0,5076.0,4153.0,1837.0
",",2305.0,2149.0,3511.0,297.0,461.0,1605.0,160.0,2165.0,3307.0,128.0
og,1731.0,732.0,1212.0,204.0,NaN,973.0,50.0,1908.0,1748.0,9.0
i,1568.0,421.0,1024.0,156.0,495.0,911.0,30.0,1590.0,1245.0,43.0
var,1175.0,445.0,822.0,14.0,1.0,17.0,NaN,99.0,757.0,NaN
...,...,...,...,...,...,...,...,...,...,...
Debetsaldo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
Kreditsaldo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
Yd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
Cwt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
Qr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0

In [27]:
f

,URN:NBN:no-nb_digibok_2013071008027,URN:NBN:no-nb_digibok_2013101806052,URN:NBN:no-nb_digibok_2012072408038,URN:NBN:no-nb_digibok_2016052308143,URN:NBN:no-nb_digibok_2014121708203,URN:NBN:no-nb_digibok_2016100609088,URN:NBN:no-nb_digibok_2012012705005,URN:NBN:no-nb_digibok_2020071448643,URN:NBN:no-nb_digibok_2008040200099,URN:NBN:no-nb_digibok_2010082703006
$,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"0,78",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN
000.,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
02,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
testosteronproduksjon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
trygghet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
vekttap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
spiser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Transparent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0

In [24]:
words = f.sort_values(by = f.columns[0]).head(100000).index
len(words)

42235

In [23]:
%%time
d2.ngram_book(word = words, period = (1950, 1960)).transpose().sort_values(by = '1950', ascending = False)

Wall time: 1.96 s

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960
—,1321193.0,772179.0,846710.0,801107.0,882687.0,796748.0,944091.0,1067140.0,1159507.0,1033445.0,1099948.0
I,371703.0,244444.0,259516.0,248395.0,388214.0,366149.0,370385.0,430477.0,404299.0,337686.0,439677.0
f,276138.0,160578.0,185593.0,167909.0,184606.0,165416.0,353586.0,379234.0,319518.0,234566.0,181497.0
',259059.0,180284.0,161680.0,192447.0,258434.0,245079.0,256745.0,267520.0,319079.0,270798.0,285222.0
Vi,115312.0,75889.0,79158.0,80121.0,83429.0,82941.0,78780.0,86242.0,97449.0,96006.0,120385.0
...,...,...,...,...,...,...,...,...,...,...,...
trade-off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN
trivially,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vindicates,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yif,NaN,1.0,1.0,NaN,NaN,9.0,NaN,1.0,6.0,NaN,1.0
Øiolf,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN